@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

        @*Get the currently logged in user*@
        @{var user = await UserManager.GetUserAsync(User);

            if (await UserManager.IsInRoleAsync(user, "Admin"))
            {
                    //Tickets drop down
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#tickets" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Tickets</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tickets">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Tickets" asp-action="Index">All Tickets</a>
                                    </li>
                                                                       
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Tickets" asp-action="Create">Submit Ticket</a>
                                    </li>
                                </ul>
                    </div>
                </li>

                //Projects drop down
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Projects" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Projects</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Projects">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Projects" asp-action="Create">New Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Projects" asp-action="ManageUsersOnProject">Manage Users on Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Projects" asp-action="Index">All Projects</a>
                            </li>
                        </ul>
                    </div>
                </li>

                //User Roles drop down
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#User-Roles" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">User Roles</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="User-Roles">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="ManageRoles">Manage Roles</a>
                            </li>                        
                        </ul>
                    </div>
                </li>
            }
            else if (User.IsInRole("ProjectManager"))
            {
                //Tickets drop down
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Tickets" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Tickets</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Tickets">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Tickets" asp-action="Create">Create Tickets</a>
                            </li>
                        </ul>
                    </div>
                </li>

                //Projects drop down
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Projects" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Projects</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Projects">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Projects" asp-action="MyProjects">My Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Projects" asp-action="Index">All Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Project" asp-action="ManageUsersOnProject">Manage Projects</a>
                            </li>

                        </ul>
                    </div>
                </li>
            }
            else if (User.IsInRole("Developer"))
            {
                //Tickets drop down
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Tickets" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Tickets</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Tickets">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a>
                            </li>
                            
                        </ul>
                    </div>
                </li>

                //Projects drop down
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Projects" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Projects</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Projects">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                            </li>
                        </ul>
                    </div>
                </li>

                //User Roles drop down
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#User-Roles" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">User Roles</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="User-Roles">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                            </li>
                        </ul>
                    </div>
                </li>
                               
            }
            else if (User.IsInRole("Submitter"))
            {
                //Tickets drop down
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Tickets" aria-expanded="false" aria-controls="ui-basic">
                    <i class="menu-icon typcn typcn-coffee"></i>
                    <span class="menu-title">Tickets</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="Tickets">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Tickets" asp-action="Create">Submit Ticket</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a>
                        </li>
                    </ul>
                </div>
            </li>
            }
        
        }     