
@{
    ViewData["Title"] = "Home Page";
}

@*Tickets Cards*@
<div class="row pb-4">

    <div class="col text-center">
        <div class="card card-statistics bg-blue-gradient">
            <div class="card-body">
                <h3>Total</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics bg-green-gradient">
            <div class="card-body">
                <h3>Assigned</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics bg-orange-gradient">
            <div class="card-body">
                <h3>Unassigned</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics" style="background-color: #FFF200;">
            <div class="card-body">
                <h3>Open</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics" style="background-color: #FF0017;">
            <div class="card-body">
                <h3>Critical</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

</div>

@*Tickets Table*@
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bordered table</h4>
                <p class="card-description"> Add class <code>.table-bordered</code> </p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> First name </th>
                            <th> Progress </th>
                            <th> Amount </th>
                            <th> Deadline </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td> Herman Beck </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td> $ 77.99 </td>
                            <td> May 15, 2015 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Messsy Adam </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td> $245.30 </td>
                            <td> July 1, 2015 </td>
                        </tr>
                        <tr>
                            <td> 3 </td>
                            <td> John Richards </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td> $138.00 </td>
                            <td> Apr 12, 2015 </td>
                        </tr>
                        <tr>
                            <td> 4 </td>
                            <td> Peter Meggik </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td> $ 77.99 </td>
                            <td> May 15, 2015 </td>
                        </tr>
                        <tr>
                            <td> 5 </td>
                            <td> Edward </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td> $ 160.25 </td>
                            <td> May 03, 2015 </td>
                        </tr>
                        <tr>
                            <td> 6 </td>
                            <td> John Doe </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td> $ 123.21 </td>
                            <td> April 05, 2015 </td>
                        </tr>
                        <tr>
                            <td> 7 </td>
                            <td> Henry Tom </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td> $ 150.00 </td>
                            <td> June 16, 2015 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*Pie chart and Tickets by Category*@
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                <h4 class="card-title mb-0">Pie chart</h4>
                <id id="pie-chart-legend" class="mr-4"><div class="chartjs-legend"><ul><li><span style="background-color:#5D62B4"></span>Sales</li><li><span style="background-color:#54C3BE"></span>Profit</li><li><span style="background-color:#EF726F"></span>Return</li></ul></div></id>
            </div>
            <div class="card-body d-flex">
                <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <canvas class="my-auto chartjs-render-monitor" id="pieChart" height="191" width="442" style="display: block; width: 442px; height: 191px;"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h4 class="card-title mb-0">Bar Chart</h4>
            </div>
            <div class="card-body">
                <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <div class="d-flex justify-content-between align-items-center pb-4">
                    <h4 class="card-title mb-0">Sales Revenue</h4>
                    <div id="bar-traffic-legend"><div class="chartjs-legend"><ul><li><span style="background-color:#5D62B4"></span>Profit</li></ul></div></div>
                </div>
                <p class="mb-4">17% increase in sales than last week</p>
                <canvas id="barChart" style="height: 221px; display: block; width: 442px;" width="442" height="221" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>

@*Users and Tickets History*@
<div class="row">

    <div class="col-lg-8 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Table with contextual classes</h4>
                <p class="card-description"> Add class <code>.table-{color}</code> </p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> First name </th>
                            <th> Product </th>
                            <th> Amount </th>
                            <th> Deadline </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-info">
                            <td> 1 </td>
                            <td> Herman Beck </td>
                            <td> Photoshop </td>
                            <td> $ 77.99 </td>
                            <td> May 15, 2015 </td>
                        </tr>
                        <tr class="table-warning">
                            <td> 2 </td>
                            <td> Messsy Adam </td>
                            <td> Flash </td>
                            <td> $245.30 </td>
                            <td> July 1, 2015 </td>
                        </tr>
                        <tr class="table-danger">
                            <td> 3 </td>
                            <td> John Richards </td>
                            <td> Premeire </td>
                            <td> $138.00 </td>
                            <td> Apr 12, 2015 </td>
                        </tr>
                        <tr class="table-success">
                            <td> 4 </td>
                            <td> Peter Meggik </td>
                            <td> After effects </td>
                            <td> $ 77.99 </td>
                            <td> May 15, 2015 </td>
                        </tr>
                        <tr class="table-primary">
                            <td> 5 </td>
                            <td> Edward </td>
                            <td> Illustrator </td>
                            <td> $ 160.25 </td>
                            <td> May 03, 2015 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between pb-3">
                    <h4 class="card-title mb-0">Activities</h4>
                    <p class="mb-0 text-muted">20 finished, 5 remaining</p>
                </div>
                <ul class="timeline">
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                </ul>
                <a class="d-block mt-3" href="#">Show all</a>
            </div>
        </div>
    </div>

</div>