
@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-4">

    <div class="col text-center">
        <div class="card card-statistics bg-blue-gradient">
            <div class="card-body">
                <h3>Total</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics bg-green-gradient">
            <div class="card-body">
                <h3>Assigned</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics bg-orange-gradient">
            <div class="card-body">
                <h3>Unassigned</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics" style="background-color: #FFF200;">
            <div class="card-body">
                <h3>Open</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics" style="background-color: #FF0017;">
            <div class="card-body">
                <h3>Critical</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

</div>
