
@{
    ViewData["Title"] = "Home Page";
}

@*Cards*@
<div class="row pb-4">

    <div class="col text-center">
        <div class="card card-statistics bg-blue-gradient">
            <div class="card-body">
                <h3>Total</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics bg-green-gradient">
            <div class="card-body">
                <h3>Assigned</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics bg-orange-gradient">
            <div class="card-body">
                <h3>Unassigned</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics" style="background-color: #FFF200;">
            <div class="card-body">
                <h3>Open</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics" style="background-color: #FF0017;">
            <div class="card-body">
                <h3>Critical</h3>
                <i class="fa fa-ticket"></i>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                <h4 class="card-title mb-0">Pie chart</h4>
                <id id="pie-chart-legend" class="mr-4"><div class="chartjs-legend"><ul><li><span style="background-color:#5D62B4"></span>Sales</li><li><span style="background-color:#54C3BE"></span>Profit</li><li><span style="background-color:#EF726F"></span>Return</li></ul></div></id>
            </div>
            <div class="card-body d-flex">
                <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <canvas class="my-auto chartjs-render-monitor" id="pieChart" height="191" width="442" style="display: block; width: 442px; height: 191px;"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h4 class="card-title mb-0">Bar Chart</h4>
            </div>
            <div class="card-body">
                <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <div class="d-flex justify-content-between align-items-center pb-4">
                    <h4 class="card-title mb-0">Sales Revenue</h4>
                    <div id="bar-traffic-legend"><div class="chartjs-legend"><ul><li><span style="background-color:#5D62B4"></span>Profit</li></ul></div></div>
                </div>
                <p class="mb-4">17% increase in sales than last week</p>
                <canvas id="barChart" style="height: 221px; display: block; width: 442px;" width="442" height="221" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>