<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*BOOTSTRAP TEMPLATE ADDITIONS*@
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/css/typicons.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style_1.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


@{
    ViewData["Title"] = "LandingPage";
    Layout = null;
}

<body data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="">
    <div class="container-scroller landing-page">
        <div class="container-fluid top-banner">
            <nav class="navbar navbar-expand-lg bg-transparent">
                <div class="row flex-grow">
                    <div class="col-md-8 d-lg-flex flex-row mx-auto">
                        <a class="navbar-brand" href="../../index.html">
                            <img src="~/images/TransparentLogo.png" alt="logo">
                        </a>
                        <button class="navbar-toggler collapsed float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon ti ti-menu text-white"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        </div>
                    </div>
                </div>
            </nav>
            <div class="row top-banner-content">
                <div class="col-md-8 mx-auto">
                    <div class="row">
                        <div class="col-lg-7">
                            <h1 class="mr-2 text-white">
                                Internal Issues is an online multi-tenant issue tracking software application that is functional and effective for both large and small businesses.
                            </h1>
                            <p class="text-white">
                                This application was built using C# and .NET5. The architecture utilizes both the MVC and MVVM design patterns. The front end is a Bootstrap 4 template.

                                The Database was built code first with Entity Framework Core maintaining integrity. It is also stored within Heroku with Postgres SQL and managed with PGAdmin.
                            </p>
                            <div class="mt-5">
                                <a asp-area="Identity" asp-page="/Account/Login">
                                    <button class="btn btn-danger btn-lg mr-2">VISIT APP</button>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</body>


<script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="~/js/data-table.js"></script>
<script src="~/js/Chart.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/vendor.bundle.base.js"></script>
<script src="~/js/off-canvas.js"></script>
<script src="~/js/hoverable-collapse.js"></script>
<script src="~/js/misc.js"></script>
<script src="~/js/settings.js"></script>
<script src="~/js/dashboard.js"></script>
<script src="~/js/off-canvas.js"></script>
<script src="~/js/todolist.js"></script>

